body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: "Georgia","Times New Roman",Times,serif;
    color: #333333;
    line-height: 150%;
  }
Header {
    background-color: #333333;
    padding-left: 10px;
}
h1 {
    color: #eee;
    background-color: #333333;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    }
h2 {
    font-size: 24px;
}
.container {
    width: 1024px;
    margin: 0 auto;
} 
#main-bio {
    float: left;
}
#contact-info {
    float:left;
}
#bio-image {
    float: left;
}
#bio-image {
    width: 200px;
    length: 200px;
}
#main-bio {
    width: 70%;
}
#contact-info {
    width: 30%;
}#bio-image {
    margin-right: 20px;
}
a{
    width: 100%;
}